<!-- Features Section -->

<div class="row justify-content-center text-center mt-lg-3">
    <!-- Personalized Study Plans -->
    <div class="col-lg-4">
        <img src="{{ `images/Studying.png` | relURL }}" width="150" height="150" alt="Image of Clipboard and Pencil">
        <h2 class="h2">Personalized Study Plans <small class="d-none">🛡️</small></h2>
        <p> Generate personalized study plans based on your learning goals and progress, helping you stay on track with your studies.</p>
    </div>

    <!-- Summarize Readings -->
    <div class="col-lg-4">
        <img src="{{ `images/Reading.png` | relURL }}" width="150" height="150" alt="Image of Book">
        <h2 class="h2">Summarize Readings <small class="d-none">🚀</small></h2>
        <p> Upload long readings or textbooks, and myISA will summarize them into concise notes, saving you time while studying.</p>
    </div>

    <!-- Study On The Go -->
    <div class="col-lg-4">
        <img src="{{ `images/Speaking.png` | relURL }}" width="150" height="150" alt="Image of Microphone">
        <h2 class="h2">Study On The Go <small class="d-none">🧠</small></h2>
        <p> myISA now supports voice-based intereactions in which users ask ISA questions about class material</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <!-- LMS Integration -->
    <div class="col-lg-4">
        <h2 class="h2">LMS Integration <small class="d-none">🔗</small></h2>
        <p> Seamlessly integrate myISA with learning management systems (LMS) like Canvas or Google Classroom to enhance study assistance.</p>
    </div>

    <!-- Adaptive Learning Modules -->
    <div class="col-lg-4">
        <h2 class="h2">Adaptive Learning Modules<small class="d-none">🎯</small></h2>
        <p> Educators can assign adaptive learning modules tailored to individual student needs for a more personalized experience.</p>
    </div>

    <!-- Reminders and Deadlines -->
    <div class="col-lg-4">
        <h2 class="h2">Reminders & Deadlines<small class="d-none">⏰</small></h2>
        <p> Stay organized with reminders for upcoming deadlines, exams, and assignments directly from myISA.</p>
    </div>
</div>
